/*------------- CSS RESET -----------------------*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

body{
  /*width: 75%;
  max-width: 700px;*/
  font-family: 'Oswald', 'Heebo', 'Exo 2', sans-serif;
  /*font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman',serif;*/
  margin: auto;
  background-color: #1F2440;
  color: #333;
  line-height: 1.8;
}

header {
  height: 100vh;
  width: 98vw;
}

.landing {
  background-image: url(../images/landing-page4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin: 0;
}

img.title {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Amarillo';
  src:url('../fonts/amarurgt.ttf') format('truetype');
}

/*

#outer-ring {
  max-width: 23%;
  position: absolute;
  margin-left: 41.5em;
  margin-top: 14.2em;
  z-index: 1;
}

#middle-ring {
  max-width: 19%;
  position: absolute;
  margin-left: 43.7em;
  margin-top: 16.4em;
  z-index: 2;
}

#inner-ring {
  max-width: 15%;
  position: absolute;
  margin-left: 45.9em;
  margin-top: 18.7em;
  z-index: 3;
}

#letter {
  max-width: 6%;
  position: absolute;
  margin-left: 51em;
  margin-top: 21.8em;
  z-index: 4;
}

#outer-ring-colour {
  max-width: 23%;
  position: absolute;
  margin-left: 41.5em;
  margin-top: 14.2em;
  z-index: 1;
}

#middle-ring-colour {
  max-width: 19%;
  position: absolute;
  margin-left: 43.7em;
  margin-top: 16.4em;
  z-index: 2;
}

#inner-ring-colour {
  max-width: 15%;
  position: absolute;
  margin-left: 45.9em;
  margin-top: 18.7em;
  z-index: 3;
}

#letter-colour {
  max-width: 6%;
  position: absolute;
  margin-left: 51em;
  margin-top: 21.8em;
  z-index: 4;
}

*/

h1 {
  font-family: 'Amarillo';
  font-size: 9em;
  text-align: center;
}

.subtitle {
  font-size: 6em;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff292d;
}

table.menu {
  text-align:left;
  margin-top: 6em;
  margin-right: 9em;
  margin-left: 3em;
  /*border: 1px solid #000*/

}

table.apparel {
  margin: auto;
  width: 75%;
  padding-bottom: 1em;


}

blockquote.apparel {
  font-size: 2.3em;
}

td p {
  font-size: .5em;
  /*text-align: justify;*/

}

table #apparel {
  font-size: 1.2em;
  text-align: center;;
}

table.apparel {
  margin: auto;
  width: 75%;
  text-align: center;
}

img.apparel {
  width: 10em;
  margin-right: 1.6em;
}

td {
  font-style: 'Heebo';
  font-size: 3.2em;
  line-height: 1.5em;
}

td.apparel p {
  font-size: 1em;
  padding-top: 0em;
}

article {

  width: 100%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

h2 {
  font-family: 'Heebo';
  font-size: 3em;
  margin-left: 2em;
  margin-top: .5em;
  padding-bottom: .2em;
}

article.first-image img {
  display: block;
  margin: auto;
  width: 100%;
}

article.first-image {
  padding-top: .2em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

article.second-image img {
  display: block;
  margin: auto;
  width: 100%;
}

article.third-image {
  width: 100%;
  padding-top: .2em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

article.second-image {
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

table.about {
  margin-left: 5em;
  width: 85%;
  padding-top: .2em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  border-collapse: collapse;
}

table.about img {
  vertical-align: bottom;
  display: block;
  margin: auto;
  height: 17%;
}

#portrait {
  vertical-align: bottom;
}

table h2.about {
  font-size: .5em;
  color: #1F2440;
  margin-left: 0em;
  margin-top: 1.3em;
  padding-left: 2em;
  line-height: 1.2em;
}

article.about-me {
  padding-bottom: 0em;
  margin-bottom: 0em;
}

article.welcome h2 {
  font-size: 2.3em;
  font-family: 'Heebo';
  width: 85%;
  margin-left: 2.7em;
  line-height: 1.2em;
}

h2.team {
  padding-top: 1em;
  margin: auto;
  width: 85%;
  color: #AFA684;
  font-size: 1.7em;
  line-height: 1.2em;
}

p {
  font-family: 'Oswald';
  width: 85%;
  font-size: 1.5em;
  margin: 0em;
  margin-bottom: 0em;
  line-height: 1.1em;
}

table #apparel {
  font-size: 1.2em;
  text-align: center;;
}

table.apparel {
  padding-top: 4em;
  padding-left: 5em;
  margin: auto;
  width: 75%;
  text-align: center;
}

img.apparel {
  width: 10em;
  margin-right: 1.6em;
}

td.apparel p {
  font-size: 1em;
  padding-top: 0em;
  margin-top: -.6em;
}

.apparel h1{
  font-family: 'Amarillo';
  margin-top: 0em;
  margin-left: 0em;
  display: block;
  text-align: center;
  font-size: 6em;
  color: white;
}

h2.apparel {
  padding-top: 1em;
  margin: auto;
  width: 85%;
  color: #1F2440;
  font-size: 1.7em;
  line-height: 1.2em;
}

h2.apparel-price {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  width: 85%;
  color: #1F2440;
  font-size: 1.7em;
  line-height: 1.2em;
}

article.intro {
  background-color: #AFA684;
}

article.welcome p {
  color: #AFA684;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

article.welcome h2 {
  color: #AFA684;
}

article.about-me {
  background-color: #AFA684;
}

article.team p {
  color: #AFA684;
}

article.career h2 {
  color: #AFA684;
}

article.apparel {
  background-color: #AFA684;
}

article.pack p {
  color: #AFA684;
}

article.pack h2 {
  color: #AFA684;
}

article.pack h3 {
  color: #AFA684;
}

article.pack h4 {
  color: #AFA684;
}

article.bibliography p {
  color: #AFA684;
}

article.bibliography h2 {
  color: #AFA684;
}

article.contact p {
  color: #AFA684;
}

article.contact h2 {
  color: #AFA684;
}

article.before {
  background-color: #AFA684;
  margin-bottom: 0;
  padding-bottom: 3em;
}

.pack h1 {
  font-family: 'Amarillo';
  margin-top: 0em;
  padding-top: 0em;
  margin-left: 0em;
  display: block;
  text-align: center;
  font-size: 4em;
  color: white;
}

article.pack {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.7em;
  margin-top: 0em;
}

h2.pack {
  padding-top: 1em;
  margin: auto;
  width: 85%;
  color: #AFA684;
  font-size: 1.2em;
  line-height: 1.2em;
}

table.pack {
  margin: auto;
  width: 75%;
  text-align: center;
}

#titles {
  font-family: "Amarillo";
  font-size: 2em;
  text-align: left;
}

#list {
  padding-top: 1em;
  padding-right: 3em;
  font-size: .25em;
  text-align: left;
  vertical-align: top;
}

.pack td {
  width: 20%;
  vertical-align: top;
}

li {
  line-height: 1.1em;
  margin-top: .8em;
}

article.pack h4 {
  line-height: 1.5em;
}

.arrow {
  width: 100%;
  padding-top: 0em;
  margin-top: 0em;
  top: 0em;
  position: static;
}

article.before {
  padding-top: 0em;
}

article.third-image {
  display: block;
  margin: auto;
  width: 100%;
  padding-top: 0em;
  margin-top: 0em;
}

.third-image img {
  width: 100%;
  margin-top: 0em;
}

h1.before {
  font-size: 6em;
  color: white;
  padding-top: .3em;
}

h2.before {
  padding-top: 1em;
  margin: auto;
  width: 85%;
  color: #1F2440;
  font-size: 1.7em;
  line-height: 1.2em;
}

p.before {
  margin: auto;
  padding-top: 1.5em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

ul.before {
  margin: auto;
  text-align: center;
  font-size: 2em;
}

span.before-imp {
  width: 85%;
  margin: auto;
  margin-top: 2em;
  color: #7A2C2C;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

h2.contact {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  width: 85%;
  color: #AFA684;
  font-size: 1.7em;
  line-height: 1.2em;
}

blockquote{
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 1.75em;
  line-height: 1.4em;
}

blockquote cite{
  font-size: .75em;
}

blockquote p{
  color: #1F2440;
  hanging-punctuation: first;
  text-indent: -0.5em;
}

.slant {

  margin-bottom: 0;
  width: 100%;
}

.contact p {
  font-family: 'Heebo';
  line-height: 0;
  font-size: 1.3em;
}

p.email {
  margin-bottom: .3em;
}

p.uub {
  margin-top: .1em;
}

#img_cont {
  display: table;
  width: 25%;
  margin-top: -.6em;
  margin-left: auto;
  margin-right: auto;
}

#img_cont a {
  display: table-cell;
  text-align: center;
  width: 16%;
}

#img_cont img {
  width: 75%;
  max-width: 50px;

}

footer img {
  padding-top: 1em;
}

p.bottom {
  font-family: "Oswald";
  font-weight: normal;
  padding-top: 2em;
  font-size: .8em;
  text-align: center;
  margin: auto;
}

#facebook:hover {
  <img src: url(../images/facebook-gold.png)>;
}

#github:hover {
  <img src: url(../images/github-black.png)>;
}

#instagram:hover {
  <img src: url(../images/instagram-black.png)>;
}

#twitter:hover {
  /*<img src: url(../images/twitter-black.png)>;*/
}

/*-------------- DESKTOP ---------------------*/

@media (min-width: 750px) {

.title {
  display: none;
}

#on-the-job {
  display: none;
}

}

/*-------------- MOBILE ----------------------*/

@media (max-width: 35em) {

img.title {
  width: 100%;
  height: auto;
}

article.bibliography p {
  width: 75%;
  margin: auto;
  padding-top: .7em;
}

article.bibliography span {
  font-size: .6em;
  line-height: .1em;
}

article.bibliography h2 {
  margin-left: 1em;
}

footer {
  padding-top: 37em;
}
article.contact span {
  font-size: .7em;
}

.landing {
  background-image: none;
  margin-bottom: 0em;
}

.landing {
  margin-bottom: -40em;
  padding-bottom: 0em;
}

.title {
  width:25em;
  margin-left: -2em;
}

table.menu {
  margin: auto;
}

header {
  padding-bottom: 6em;
  width: auto;
}

h1.intro {
  font-size: 4.7em;
  padding-top: .5em;
}

article.welcome h2 {
  font-size: 1.8em;
  text-align: left;
  padding-left: 0em;
  margin-left: 0em;
  margin: auto;
}

table.about {
  padding-top: 0em;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  width: 100%;
}

table.about img {
  width: 85%;
  height: auto;
  padding-top: .5em;
}

table.about h2 {
  font-size: .4em;
  margin-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 2em;
  width: 85%;
}

table.about tr {
  display: block;
}

table.about td {
  display: block;
}

h2.team {
  font-size: 1.5em;
}

h1.apparel {
  font-size: 5em;
}

h2.apparel {
  font-size: 1.5em;
}

table.apparel {
  padding-top: 0em;
  padding-left: 0em;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1em;
  width: 100%;
}

table.apparel tr {
  display: block;
}

table.apparel td {
  display: block;
}

table.apparel img {
  width: 90%;
  height: auto;
  padding-top: .8em;
  margin-left: 0em;
  padding-left: 0em;
  margin: auto;
  margin-bottom: -.3em;
}

table.apparel p {
  font-size: .6em;
  margin: auto;
}

h2.apparel-price {
  font-
}

h1.pack {
  font-size:3.4em;
}

table.pack {
  padding-top: 0em;
  padding-left: 0em;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1em;
  width: 100%;
}

table.pack tr {
  display: block;
}

table.pack td {
  display: block;
  width: 100%;
  margin: auto;
}

table.pack li {
  padding-top: .7em;
}

#on-the-job {
  display: block;
  font-family: "Amarillo";
  font-size: 2.5em;
  text-align: left;
  padding-bottom: 1em;
  padding-top: 1.5em;
  margin: auto;
}

#hide-title {
  display: none;
}

ul.before {
  width: 90%;
}

ul.before li {
  margin-top: 1.5em;
}

footer {
  margin-top: 0em;
  padding-top: 0em;
}

#img_cont {
  display: table;
  width: 85%;
  margin-top: -.6em;
  margin-left: auto;
  margin-right: auto;
}

#img_cont a {
  display: table-cell;
  text-align: center;
  width: 16%;
}

#img_cont img {
  width: 75%;
  max-width: 50px;
}

}
